<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Jobs4u</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/company">Profile</a></li>
      <li><a href="/company/<%= jobs.id %>/edit">Edit Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
