<html>
  <head>
    <title>
      Edit Profile
    </title>
  </head>
  <body>
    <h2>Edit Profile</h2>
    <form action="" method="POST">
      <label for="name">Name :</label><br>
      <input type="text" name="name" /><br><br>

      <label for="gender">Gender :</label><br>
      <select name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
      </select><br><br>

      <label for="age">Age :</label><br>
      <input type="text" name="age" /><br><br>

      <label for="location">Location :</label><br>
      <input type="text" name="location" /><br><br>

      <label for="email">Email :</label><br>
      <input type="text" name="email" /><br><br>

      <label for="phone">Phone :</label><br>
      <input type="text" name="phone" /><br><br>

      <label for="expected_sallary">Expected Sallary :</label><br>
      <input type="text" name="expected_sallary" /><br><br>

      <label for="experience">Experience :</label><br>
      <input type="text" name="experience" placeholder="dalam Tahun"/><br><br>

      <label for="field_of_work">Field of Work :</label><br>
      <input type="text" name="field_of_work" /><br><br>

      <label for="education">Education :</label><br>
      <select name="education">
          <option value="sma/smk">SMA / SMK</option>
          <option value="D3">D3</option>
          <option value="S1">S1</option>
          <option value="S2">S2</option>
      </select><br><br>

      <input type="submit" value="Edit Profile" />
    </form>
  </body>
</html>
