<html>
  <body>

    <h2>Add Vacancy Form</h2>

    <form action="/company/addvacancy/<%= id %>" method="POST">
      Name:<br>
      <input type="text" name="name" value="">
      <br>
      Field of Work:<br>
      <input type="text" name="field_of_work" value="">
      <br>
      Required Gender:<br>
      <input type="text" name="required_gender" value="">
      <br>
      Required Age:<br>
      <input type="number" name="required_age" value="">
      <br>
      Required Education:<br>
      <input type="text" name="required_education" value="">
      <br>
      Required Experience:<br>
      <input type="number" name="required_experience" value="">
      <br>
      Salary:<br>
      <input type="number" name="salary" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>


  </body>
</html>
